<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport Service System - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #000000; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<body class="flex flex-col">
    <nav class="shadow-lg border-b-4 border-[#2E5273]">
      
        <ul class="flex gap-4 p-4">
            <li><a class="text-[#2E5273] font-bold ">PassMe</a></li>
            <li><a href="/" class="hover:bg-gray-200 h-full p-4 cursor-pointer">Home</a></li>
        </ul>
    </nav>
    <div class="gap-8 flex flex-col items-center justify-center min-h-[90vh] text-[1.2rem]">
         <p class="text-green-400" th:text="${response}"></p>
                    <p class="text-red-400" th:text="${error}"></p>
        <div class="max-w-[800px] text-justify ">
            Your schedule has been confirmed, please expect an email confirmation
regarding your schedule, payment information, protocols, and passport
photo regulations. Kindly follow your selected date in order to confirm your
application/renewal.

        </div>
 </div>
       
    </div>

    <footer class="mr-auto ml-auto">
        All rights reserved.
    </footer>
</body>
</html>