<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport Service System - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #000000; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<body class="flex flex-col">
    <nav class="shadow-lg border-b-4 border-[#2E5273]">
      
        <ul class="flex gap-4 p-4">
            <li><a class="text-[#2E5273] font-bold ">PassMe</a></li>
            <li><a href="/" class="hover:bg-gray-200 h-full p-4 cursor-pointer">Home</a></li>
              <li><a href="/" class="h-full p-4 cursor-pointer" th:text="${username}"></a></li>
            <li><a href="/logout" class="ml-auto hover:bg-gray-200 h-full p-4 cursor-pointer">Logout</a></li>
        </ul>
    </nav>
    <div class="gap-8 flex flex-col items-center justify-center min-h-[90vh] text-[1.2rem]">
        <form method="post" th:object="${data}" th:action="@{/createSchedule}">
          <p class="text-green-400" th:text="${response}"></p>
                    <p class="text-red-400" th:text="${error}"></p>
        <div class="flex flex-row gap-[100px]">
           
     
            <div class="flex flex-col gap-12">

            
        <div class="flex-col flex">
                <label>
                    Select Date
                </label>
               <input required type="date" autocomplete="on" name="scheduledate" id="scheduledate" class="outline-0 bg-gray-200 p-2 min-w-[300px] rounded-md focus:ring-2 focus:ring-blue-40"/>
        </div>

         <div class="flex-col flex ">
                <label>
                    Select Time
                </label>
               <select required type="text" autocomplete="on" name="scheduletime" id="scheduletime" class="outline-0 bg-gray-200 p-2 min-w-[300px] rounded-md focus:ring-2 focus:ring-blue-40">
                <option value="Morning (8:00-11:00)">
                    Morning (8:00-11:00)
                </option>
                <option value="Afternoon (13:00-17:00)">
                    Afternoon (13:00-17:00)
                </option>
                <option value="Evening (18:00-20:00)">
                    Evening (18:00-20:00)
                </option>
                </select>
        </div>
        </div>
        <button type="submit" class="m-auto p-6 px-14 text-white bg-[#2E5273] text-[1.5rem] hover:opacity-80">Confirm Schedule</button>
        
 </div>
       </form>
    </div>

    <footer class="mr-auto ml-auto">
        All rights reserved.
    </footer>
</body>
</html>